<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <title>Agregar materia</title>
</head>
<body>
    <h1 id="nombrePag">Comunidad IT</h1>
    <nav id="navPrincipal">
        <a href="/Views/alumnos.html">Alumnos</a>
        <a href="/Views/profesores.html">Profesores</a>
        <a href="/Views/materias.html">Materias</a>
    </nav>
    <h2>Agregar nueva materia</h2>
    <div id="caja">
        <h3>Ingrese los datos:</h3>
        <form>
            <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required/><br><br>
            <label>Dias de cursada:</label>
                <label for="lu">Lunes</label>
                    <input type="checkbox" id="lu" name="dias"/>
                <label for="mar">Martes</label>
                    <input type="checkbox" id="mar" name="dias"/>
                <label for="mie">Miercoles</label>
                    <input type="checkbox" id="mie" name="dias"/>
                <label for="jue">Jueves</label>
                    <input type="checkbox" id="jue" name="dias"/>
                <label for="vie">Viernes</label>
                    <input type="checkbox" id="vie" name="dias"/><br><br>
                <input type="submit" value="Agregar"/>
        </form>
    </div>
</body>
</html>