<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de alumnos</title>
</head>
<body>
    <h2>Lista de alumnos</h2>
    <table border="1">
        <tr>
            <td>Nombre</td>
            <td>DNI</td>
            <td>Fecha de nacimiento</td>
            <td>Domicilio</td>
            <td>Celular</td>
            <td>Legajo</td>
            <td>Email</td>
        </tr>
    </table>
</body>
</html>