<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <title>Lista de alumnos</title>
</head>
<body>
    <h1 id="nombrePag">Comunidad IT</h1>
    <nav id="navPrincipal">
        <a href="/Views/alumnos.html">Alumnos</a>
        <a href="/Views/profesores.html">Profesores</a>
        <a href="/Views/materias.html">Materias</a>
    </nav>
    <h2>Lista de alumnos</h2>
    <table>
        <tr>
            <th>Nombre</th>
            <th>DNI</th>
            <th>Fecha de nacimiento</th>
            <th>Domicilio</th>
            <th>Celular</th>
            <th>Legajo</th>
            <th>Email</th>
        </tr>
    </table>
</body>
</html>