<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <title>Materias</title>
</head>
<body>
    <h1 id="nombrePag">Comunidad IT</h1>
    <nav id="navPrincipal">
        <a href="/Views/alumnos.html">Alumnos</a>
        <a href="/Views/profesores.html">Profesores</a>
        <a href="/Views/materias.html">Materias</a>
    </nav>
    <h2>Materias</h2>
    <nav>
        <ul>
            <li><a href="agregarMateria.html">Agregar una materia</a></li>
            <li><a href="listarMaterias.html">Lista de materias</a></li>
            <li><a href="../index.html">Volver al inicio</a></li>
        </ul>
    </nav>
</body>
</html>